* {
    margin: 0%;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-style: normal;
}

nav {
    position: sticky;
    height: 60px;
    padding: 10px;
    background-color: #0C356A;
}

ul {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}
#logo{
    color: #DAFFFB;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
a {
    color: #DAFFFB;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    background-color:#EFFFFD;
    color:#0E2954;
    border-radius: 20px;
    padding: 10px;
    transition-delay: 0.2s;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #97FEED;
    margin-top: 30px;
    margin-bottom: 20px;
    color:#0F3460;
}
.container-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
}

.box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}

.box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
}
.fig-hd{
    text-align: center;
}
.fig-hd:hover{
    color:#0C356A;
    text-decoration: underline;
    text-decoration-color: #14C38E;
}
img {
    margin: 30px;
    margin-bottom: 10px;
    border: 3px solid #0C356A;
    border-radius: 18px;
}

figure {
    border: 3px solid #27E1C1;
    background-color: #EFFFFD;
    flex: 1;
    margin: 10px;
    border-radius: 20px;
}
figcaption{
    padding: 10px;
    margin: 10px;
    text-align: start;
    color:#204969;
    font-weight: 400;
}
.date{
    padding: 10px;
    padding-top: 20px;
    margin-left: 150px;
    text-align: center;
    font-weight: 700;
    color:#2E4F4F;
}
footer {
    background-color: #222831;
}

.container-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.box5,
.box6,
.box7,
.box8 {
    flex: 1;
    color: #FFFBE7;
}

h3 {
    font-size: 18px;
    text-align: left;
    color: #14C38E;
}

.footer-heading {
    text-align: left;
    margin-left: 40px;
    margin-bottom: 25px;
}

.footer-ul {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.footer-heading:nth-of-type(4) {
    margin-left: 50px;
}

.container-4 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.box9,
.box10 {
    flex: 1;
}

.ds {
    margin-left: 40px;
    color: #FFFBE7;
    text-align: left;
    padding-bottom: 20px;
}

.copyrights {
    text-align: center;
    color: #FFFF80;
}

.c1 {
    color: #99F3BD;
}